<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>My life is a joke</title>
	</head>
	<link  href="{{ url_for('static', filename='bulma.css') }}" rel="stylesheet" type="text/css">
	<script src="{{ url_for('static', filename='jquery.js') }}"></script>
	<body>
		
		<div class="container">
			<h1 class="title">WELCOME TO MY SAD PLACE IN THE INTERNET</h1>
			
			<div class="columns is-mobile">
				<form action="/encode" method="post" enctype="multipart/form-data" class="column">
					
					<div class="file">
						<label class="file-label">
							<input class="file-input" type="file" name="file">
							<span class="file-cta">
								<span class="file-icon">
									<i class="fa fa-upload"></i>
								</span>
								<span class="file-label">File to encode</span>
							</span>
						</label>
					</div>
					
					
					<div class="control">
						<input class="button is-primary" type="submit" value="Encode !" name="submit" />
					</div>
				</form>
				
				<form action="/decode" method="post" enctype="multipart/form-data" class="column">
					<div class="file">
						<label class="file-label">
							<input class="file-input" type="file" name="file">
							<span class="file-cta">
								<span class="file-icon">
									<i class="fa fa-upload"></i>
									</span><span class="file-label">File to decode</span></span>
								</label>
							</div>
							
							<div class="control">
								<input class="button is-primary" type="submit" value="Decode !" name="submit" />
							</div>
							
							
						</form>
					</div>
					
					<!--
					<h2 class="title">Encode/decode text and please end my misery</h2>
					<p class="subtitle">Not yet babe</p>
					<div class="columns is-mobile">
						<div class="field column">
							<div class="control">
								<textarea class="textarea is-hovered" id="textarencode" type="text" placeholder="encode"></textarea>
							</div>
							<a class="button is-dark" id="encodejsbutton">Encode !</a>
						</div>
						<div class="field column">
							<div class="control">
								<textarea class="textarea is-hovered" id="textardecode" type="text" placeholder="decode"></textarea>
							</div>
							<a class="button is-dark" id="decodejsbutton">Decode !</a>
						</div>
					</div>
					<script>
					if (!$("#textardecode").val()) {
					$("#decodejsbutton").hide();
					}
					$('#textardecode').change(function(){
					if($(this).val().length > 0){
					$("#decodejsbutton").fadeIn();
					}
					});
					
					if (!$("#textarencode").val()) {
					$("#encodejsbutton").hide();
					}
					$('#textarencode').change(function(){
					if($(this).val().length > 0){
					$("#encodejsbutton").fadeIn();
					}
					});


					</script>

					dalyarak -->
					<br/>
					<div class="content is-centered">
						<p class="content">this simple web page will take your precious file and it will encode with word "<em><strong>dalyarak</strong></em>" it works by taking every 1 and 0 in the file and converting them to upper or lower case character in word "<em><strong>dalyarak</strong></em>" for example 10100101 will be DaLyaRaK now you can ask Mr Jvolizka why in the holy fuck would i ever need something like this and who are you anyway ? how dare you create an encoding system with an arbitary word like "<em><strong>dalyarak</strong></em>"</p>
						<h1 class="content"><span style="text-decoration: underline;"><em><strong>WHO GIVES YOU RIGHT TO CHOOSE AN ENCODING SYSTEM FOR ME YOU PATHETIC FUCK !!!&nbsp;</strong></em></span></h1>
						<p class="content">and you would be absofuckinglutely right i have no right to do such thing but i did it anyway because you see my life is literally worthless only thing separates me from a garbage bin that a garbage bin is a useful thing to society and if stop making shit like this maybe i mistakenly create something useful and that terrifies me every waking hour of my life little voices in my head whispering to me to create useless stupid thing <strong class="is-bold">oh my god i'm serius please help me THE VOICES THEY NEVER STOP THEY ARE SAYING HORRIBLE THINGS <br /></strong></p>
						<h4 class="content is-4 title"><strong>PLEASE SOMEBODY HELP ME THEY WILL TAKE OVER ME OH LORD </strong></h4>
						<h2 class="content is-2 title"><strong>IT WAS A MISTAKE OPENING THAT BOOK IT IS TOO POWERFUL OH GOD THE POWER </strong></h2>
						<h1 class="content is-1 title"><strong>PLEASE LIGHT IS HURTING MY MIND SOMEBODY PLEASE HEAR MY SCREAMS IT'S LIKE THE SUNSUNSUNTHESUNTHESUN t̶̨̘̲͍͛̈́̌͊̔͐̈͜h̴̨̧̛̪̥̓̉̉̌̿̕͜͝ë̴̗̱̯͇̭́͂̅̀͗̔̎̽̏s̶̛̼̠͕͓̦͖̏̉̌̊̆̏͂u͚͚̰̯̬̣̥̇͐̕͝͝ņ̷̫̤͙̯̦̏̅͑̔̚͢͜͝t̴̢̝̙̞̭̼̺̘̼̃͆̾̂̐͜h̡̤̪͖͙͉͙̱̉̀̃́̽̒̉̋̕ę̖̭̻͎̄̀̿͘͟͝ṣ̴̢̨͍̭̼̰̍̐̍̓̓͟͞ͅṳ̴̳͎̰̰͎̻̀̋́̄̋̓͠ń̬͖̯̺̼̑̍̊͑̓̔͢͞ţ̴̢̭͎̫̎̈́̊͌̊̃̀̅̈́͘h̨̻̖͙̹͚̲̲̙̄͌̿̌̎͛̿͑̊ë̶̖̯̣̱̻̲̫́́̊̀͘͢͠ͅs̡̠̝̣̮̠̗̻̾̔͌̄͞ų̟̥̠̫̩̼͖̝̇̅͌̚͜͠ņ̵̼͔̩̙͚̮́̈́̽̑͌̒͒t̸̩̙͓̺̘̯̏̿̎̆̔ĥ͓̟̭̜͕̝̲͓́̊́̽̒͆̓e̛͍̰͓̺͂͑́̋͗̓͜͢s̞͙̺̅̂͑͜͢͞͝ų̥͙̜̱̀̓̎̂̾͘n̶͍͉̮̦͚̈́̀̈̄̈́͊̕͢͡͞ţ̷̤̫͓͇̣̻̜̟͒̽̇̈́̽̿͆́͟͡ḣ͚͍̹̰̙͙͚̓̄̉̈͂̑̕͟͡͡ē̵̥̝̻͎̠̎͑̄̅̕͘͞͞š̢̛͔͕͈̞̗̭͚̽͋͗͢͟u̸̧͖̣̬̞̪̜̱̪͙͂̈́̊̀́͘͠͡n̸͖͕̝͓̱̊͗͑̂͢͡͝͡Ţ̲̹̤̱̮́͊͋͌̄̆̈͝͡ͅH̵̡̨͈̞̬͇̮̠͎͇̍̉̔͊͝E
						̶̧̡̨̞͖̥̹̰́́̔̏́̎̐̑͠Ş̸̛̥̪̰͓̖̹̻̫̉̓̐̃̏Ṷ̞͕͎̺͆́̋̊̕͜u̪̻̫̖̯͎̦̿̆̑̀̀͑̉̓͢͠n̺̭̦͕̫͇̋̒͌͒́͗͂͞t̡̢̜̞̺̞̬̓̑̓̓͐̀͢͡h̝̣͇̼̹̲̙̥̀̌̽̔̅̑̔͗e̸̹͙̻̦̣̹͙͑̋́́̕ͅͅș̛̮̗͈̭͉̻̪̦̏̉̉̐͘u̵͕͉̲̻̜̜̰͕͋̏͆̄͠͡ņ̲̩̗̟̱̱͕̓͛͂̑̓̓̎͛͡͡ṱ̮̼̻͖̻͆̈́͆̈́̕h̠̟̼̙̣̣̜͒́́̊̈́̋̚ͅḛ̡̫̠͖̮̞͌̾̇̊̆̋s̴̱̤̪͙̺̳͐̉̒̿̎̀̾͢ư͍̩͓͇͕̼̄̉̊̑͜ǹ̟̬͔̍̿̆̓͒͢͜t̴̛̞̭͈̯͎͌͊͐̃̾̈́̈́͗͟h̷̪̘̠͔͎͕͎̄͑̃̈́̂͂̊͋̉ȩ̵̛͎̺̠̯̼̗̙̐̈́̀̚ş̶̢̜͇̺͎̹̔͊̌͑͝ú̙͔͕̟̦̱̜͙̻̄̎̀͂͌̃͆̂̓ņ̱͙̟̜͚̣͒̄̃́̌̽͋ͅt̴̳̥͎̭̺́́̑͌̕h̷̙̤̯̱̟͕͉͆͂͗͐͋͊͟͠é̸̙̪͓̳͍̩̥̬͋̽̃͌̈́̾̿͋̕͜s̷̭͇͇͍͉̞̙̆̀́̕͜͢͞u̷̳̼̜̯̞̺̒̎͛͛̊̀̄͑̊̇͢͢n̴̟̲̠͓͙̩̼̩̫͊̀̆̓͐͜ť̵̨̛̠̦̻͙̳͈͉͑̽̈́́͘h̨̖͎͕̯͒̑͋̾̐̆̀͝é̴̢̺͉̲̺͈̹͍̉̃̉͜͡š̴̢̠̣̟̪̟̱̰͋̉̅̓̾̚ų͔̜̟̅̇͆̚͢͟͞͞͡͡ņ̶̜̬͇̭͚͋̄̀̓͢͡͠t̜̜͖̫̠̞̂̐͗̇̀͊̔ͅh͍͇͇͉̺̣̟͋͗͂́̓̈́̌̇͠ě̡̖̲̭͗̾̈̉̎͘͢͠͞s̵̰̤̥̰̩̦͂͋̔͆͞ư̧͖͍̭͙̄͛̆̒̇͢͝n̸̢̧̞̙̞̣̖̆̋̎̓̈́̚̕T̨̢̯̗̟̏̌̉̍̕Ḩ̵̛̰̖͙̥̥͍̗͐͗͊̓̀͊͠͠͝Ȩ̷̖̻̮̣̻̳̳̹̏̽̀̎͂̐̚Ŝ̘͍̹̅́̀͋͑͟ͅƯ̷̺̦͕̱͍̫̮̣̐̓̀̏͆͘͟͢͝ȗ͚̻̳͎̼̘̼̀̈́̈́͊̈́̎͋͘n̷̬̖̜̤͍͓̂̂́͛̆ţ͕͇̣̣͗̾͐͌̄̓̔͂̽͘ͅh̢͎̥͉͕̿̒̊̾̇̓̕͠
						̶̢̠̦̘ḙ̷̦̟̞͎̠͌̄̽̂͊͋̔͝ş̡̬͉̭̼̯͐̂̀̓̇́̚͞͝u̶̱̥̺̟̤̥͐̉͐̉̆̀͊̚͢͞͝n̦̗̲̻͓̬̿̀́̾̆͊͠T̶͔̤̥̝̯͒͒́͊͑̀͋͘̕͠Ḧ̫̘͙̰̱͍̐͂̍͛̾̓̽̆͆Ę̷̛͉̥͎̱̩͍̉̋̾̋̊͋͐̿̿S̼̹̰͎̹̭̍̀̊̈̽͋̄̏U͙̪͈̝̫͔̇̑̒͋̅͆̀̎̿͜͢͢N̪͓̼͕͕̭͇̬̠͈̐̔̋̋͂̆̂͗T̜̘͔̖͈̯̞̑͛̈́̈͐̆̒͆H̜͔̼̻̞͇̮̤̯̟͊̆͊͐̐̐̀̕̕E̸̥͈͔̮͕͌̈̍͂̆͘̕S̊͆͆͊̌̂̍͠
						̸͕͓͔̗̲̜͇̪̬̺̑͑U̶̟̟̦̺̼̾͛̓͘̕N̴̨̢̢̛̰̫͙͌̓͐̌͘</strong></h1>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<p class="content subtitle">anyways please enjoy my little script</p>
					</div>
				</div>
			</body>
		</html>